<nav class="navbar navbar-expand-lg navbar-light bg-primary">

  <div class="container">
    <!-- h1 deixa curso maior, mb-0 retira um espaço abaixo da barra -->
    <a class="navbar-brand h1 mb-0" href="#">Curso</a>

    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSite">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">
      <!-- bootstrap mudou as classes de alinhamento. O que antes era navbar-left navbar-right agora é mr-auto marginright, saca -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> Início </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Perfil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Outra Opção </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Fabinho's page </a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">
            Social
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Facebook</a>
            <a class="dropdown-item" href="#">Twitter</a>
            <a class="dropdown-item" href="#">SuperMarket</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Lista </a>
        </li>
      </ul>

      <form class="form-inline">
        <input class="form-control ml-2 mr-4" type="search" placeholder="Buscar...">
        <button class="btn btn-default" type="submit">Ok</button>
      </form>

    </div>

  </div>

</nav>